.blogs__quote-author {
  color: #fff;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  font-weight: normal;
  margin: 63px 0 0 78px;
  padding: 0;
}
