.contact__button-text_number_one {
  color: #FFF;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: normal;
}
