.contact__button-text_number_two {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #000;
  letter-spacing: 0em;
  text-align: center;
}
