.blogs__card-link {
  text-decoration: none;
  transition: opacity .3s linear .1s;
  color: #000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin: 0 0 50px 48px;
}

.blogs__card-link:hover {
  opacity: .4;
}
