.blogs__subtitle {
  margin: 23px 0 0 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: normal;
  padding: 0;
}
