.blogs__card-text {
  color: #000;
  margin: 16px auto 16px auto;
  padding: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  font-weight: normal;
  width: 474px;
  min-height: 72px;
}
