.blogs__quote {
  color: #fff;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: normal;
  margin: 27px 0 0 78px;
  width: 492px;
  padding: 0;
}
