.cards__link {
  text-decoration: none;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  margin: 74px 179px 24px 24px;
  transition: opacity .3s linear .1s;
}

.cards__link:hover {
  opacity: .4;
}
